body {
  background-color: lightblue;
  color: black;
  font-family: sans-serif;
}

.nav, .navbar-nav {
  color:blue;
}

header {
  color: darkblue;
}
.mainnav {
  color:blue;
}

footer {
  background-color: black;
  color: white;
}

a {
  color: blue;
}

nav>ul>li>a {
  color: blue;
}
a:hover {
  color: white;
  background-color: grey;
}

.homelist {
  list-style-type: square;
}

table {
  text-align: center;
}



.information {
  font-family: serif;

}

#addnewmovie {
  color:white;
  border-radius: 5px;
  background-color: green;
  padding:10px;
}
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
